<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @illust.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @illust.user_id %>
</p>

<%= link_to 'Edit', edit_illust_path(@illust) %> |
<%= link_to 'Back', illusts_path %>
